{%extends 'base.html'%}

{% block title %} Mi Perfil {% endblock %}

{% load static %}

{%block content%}
<main class = "main-profile">
    <section class="profile">
        <div class="profile-img">
            <img src="{% static 'img/profile-pic.jpg' %}" alt="">
        </div>
        <div class="profile-info">
            <h2>Hola, mi nombre es Juan!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam id dolore doloribus error obcaecati quidem!</p>
        </div>
    </section>
    <section class="projects-container">
        <h3>Proyectos</h3>
        {% for project in projects %}
        <div class="project">
            <h4>{{project.title}}</h4>
            <p>{{project.desc}}</p>
        </div>
        {% endfor %}

    </section>
</main>
{%endblock%}